<%= form_tag sessions_path do |form| %>
  <div class="login-wrap" style="margin-top: 5%">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="email" class="label">Email Address</label>
            <input id="email" name="email" type="text" class="input">
          </div>
          <div class="group">
            <label for="password" class="label">Password</label>
            <input id="password" name="password" type="password" class="input" data-type="password">
          </div>
          
          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <div class="group">
            <%= link_to 'Back', articles_path, class: 'button', style: 'text-align: center' %>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <p id=”alert”><%= alert %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
