<%= render "nav" %>
<div class="container">
  <h1><center>New Article</center></h1>
  <%= render "form", article: @article %>
  <div style="margin-left: 80%;margin-top: -6%;">
    <button type="button" class="btn btn-danger"><%= link_to "Back",articles_path %></button>
  </div>
  
    
</div>
